/* #hackett(d968f923c99adba9) #css starts  */
.headerd968f923c99adba9 .btnReg{
    background-color: #ADD8E6;
    color: white;
    border-radius: 12px;
    font-weight: bold
}
.headerd968f923c99adba9 .btn{
    font-weight: bold
}
.headerd968f923c99adba9 .btn:hover{
    color: rgb(41, 0, 0)
}
/* #hackett(d968f923c99adba9) #css ends  */