 /* #hackett(d968f923c99adba9) #css starts  */
 .headerd968f923c99adba9 .btnReg{
    background-color: #ff914f;
    color: #E8F7F7
}
.headerd968f923c99adba9 .btnReg:hover{
    color: #add8e6
}
/* #hackett(d968f923c99adba9) #css ends  */

/* #apeli(4c8deeb2f4571930) #css starts  */
.abouta4c8deeb2f4571930 .about{
    border-radius: 12px; 
    color: #E8F7F7;
    background-color: #ff914f
}
.abouta4c8deeb2f4571930 a:hover{
    color: #add8e6
}
/* #apeli(4c8deeb2f4571930) #css ends  */

    /* #qadir(q0c8d3826c0d518b0) #css starts  */
    .quickLinkq0c8d3826c0d518b0 .quicklink:hover {
        background-color: #add8e6;
        border: 2px solid #add8e6;
       
    }
    .quickLinkq0c8d3826c0d518b0 .quicklink:hover a{
        color: black
    }

    /* #qadir(q0c8d3826c0d518b0) #css ends  */

    /* #pen(cb870d00581aabe8) #css starts  */
    .productscb870d00581aabe8 .title {
        color: #ff914f
    }

    .productscb870d00581aabe8 .btn-md {
        color: #ff914f;
        background: none;
        border: 1px solid #add8e6
    }

    .productscb870d00581aabe8 .label-rating {
        margin-right: 10px;
        color: #333;
        display: inline-block;
        vertical-align: middle
    }

    .productscb870d00581aabe8 .price-new {
        color: #ff914f
    }
    /* #pen(cb870d00581aabe8) #css ends  */


    /* #agun(e50d5193e4b9f737) #css starts  */
.aboute50d5193e4b9f737 h2{
    font-size: 40px;
    line-height: 1.5
}
.aboute50d5193e4b9f737 li {
            list-style: none;
            padding: 10px 30px;
            background-image: url("https://i.ibb.co/v3cSthp/check-304167-1280.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 20px         
        }
        .aboute50d5193e4b9f737 .margin{
    margin-left: -30px;
    font-weight: bold
}
.aboute50d5193e4b9f737 .searchBtn{
        background-color:#4A4CC7;
        border-radius: 10px;
        color: white;
        padding-right: 30px;
        padding-left: 30px;
        font-weight: bold
    }
@media (max-width: 767px) {
    .aboute50d5193e4b9f737 .aboutIMG{
        margin-top: 15px;
}
}
/* #agun(e50d5193e4b9f737) #css ends  */