/*****hunter*****/
/* #hunter(headerhdmc0pmwml) #css starts  */
.headerhdmc0pmwml .navbar .navbar-nav .nav-item .nav-link{
    color: #1A2421
}
.headerhdmc0pmwml .navbar-light .navbar-nav .nav-link:hover {
    color: #6A41ED
}
/* #hunter(headerhdmc0pmwml) #css ends  */
/*****hunter*****/

/*****ceborah*****/
    /* #ceborah(calltoactioncakmky9mzzs) #css starts  */
    .calltoactioncakmky9mzzs .btn-dark {
        color: #1A2421;
        background-color: #35CD86;
        border-color: #35CD86;
        font-weight: bold
    }
    /* #ceborah(calltoactioncakmky9mzzs) #css ends  */
/*****ceborah*****/